@import "tailwindcss";

:root {
  --background: 0 0% 100%;
    /* Light theme background - White */
    --foreground: 240 10% 3.9%;
    /* Light theme foreground - Dark Gray */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
  /* Font families */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: 240 10% 3.9%;
  /* Dark theme background - Dark Gray */
  --foreground: 0 0% 98%;
  /* Dark theme foreground - Almost White */
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
}

body {
  background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}